{% extends "base.html" %}

{% block content %}
<p>



</p>
<h3>
    <marquee behavior="scroll" direction="left"><p algin="center", style="font-family: Baskerville Old Face, serif">This Website is build as project for IST 303  
        Software Development Course</marquee>
        <img src="https://www.naceweb.org/uploadedImages/images/2017/feature/college-students-having-a-discussion.jpg" alt="students" style="width:1100px;height:400px;">
    <p>
        <p>The website is made with features like printing multiple reports (timetable, location, courses, student list), an implemented academic calendar, 
            future course plans, and static information to assist educational institutions that will allow students to enroll in courses. 
            The company will be able to govern the website through a variety of roles, including managers, lecturers, and staff, each with unique 
            capabilities ranging from printing reports to amending the data. The major goal is to develop a system that enables students to efficiently 
            plan their course enrollment and to have a better understanding of the requirements and deadlines for completing their degrees. 
            There are alternative course plans and rules on the website.<br><br>
    Team Members:
    <ul>
        <li>Kristina</li>
        <li>Naif</li>
        <li>Muneer</li>
        <li>Desmend</li>
        </ul>
</h3></p></p>
{% endblock %}