{% extends "base.html" %}

{% block content %}
<style type="text/css">
    body {
        text-align: center;
    }
  
    h1 {
        color: green;
    }
  
    /* Basic CSS to design table */
    table {
        border-collapse: collapse;
        width: 100%;
    }
  
    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
  
    /* CSS command for the row to highlight */
    .highlight {
        background-color: #b8b8b8;
    }
  </style>
  <style>
      .close-x {
          display: inline-block;
          width: 25px;
          height: 25px;
          border: 7px solid #f56b00;
          background:
              linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
              linear-gradient(135deg, #f56b00 0%,#f56b00 43%,#fff 45%,#fff 55%,#f56b00 57%,#f56b00 100%);
      }
      .plus {
    display: block;
    height: 0.6em;
    width: 0.6em;
    font-size: 100px;
    text-align: center;
    line-height: 0.5em;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: #ffffff;
    background-color: #000000;
  }
  
  .plus::before {
    display: block;
    content: '+';
  }
  </style>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;



  <h1>Student lists</h1>
  <form method="post" action="/complete">
    <input type="hidden" name="iddc" value="{{idd}}">
    <table id="table_to_highlight" style="width:100%">
        <thead>
          <tr>     
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Department</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Semester</th>
            <th>Pass</th>
            <th>Fail</th>
            <th>No Grade</th>
            <th>Complete</th>
          </tr>
          </thead>    
          <tbody>
           {% for row in data2 %}    
                  <tr> 
                    
                      <td>{{row[0]}}</td> 
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                      <td>{{row[3]}}</td>
                      <td>{{row[4]}}</td>
                      <td>{{row[8]}}</td>
                      
                   
                      <td><button class="bi bi-plus" type="submit" value="{{ row[14] }}" name="Pass">Pass</button></td>
                      <td><button class="bi bi-plus" type="submit" value="{{ row[14] }}" name="Fail">Fail</button></td>
                      <td><button class="bi bi-plus" type="submit" value="{{ row[14] }}" name="nograde">No Grade</button></td>
                      {% if row[13] == 0 %}
                      <td>Fail</td>
                      {% elif row[13] == 1 %}
                      <td>PASS</td>
                      {% else %}
                      <td>No Grade</td>
                      {% endif %}
                  </tr>
                  {% if value %}
                  {{value}}
                  {% endif %}

              {% endfor %}
          </tbody>
      </table>
</form>

{% endblock %}