{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="title">
        Student Enrolment System
    </h1>
    <h2 class="subtitle">
        The Website is designed to serve educational organizations that will allow students to enroll in courses, with features such as printing several reports (timetable, location, courses, student list), implemented academic calendar, future course plans, and statical information. The organization will have control over the website with multiple rolls such as managers, lectures, and staff, each with their special features from printing reports to updating the data. The main objective is to construct a system that allows students to plan efficiently when enrolling in courses and have a better perspective of the requirement and the timeframe to finish their degree. The website will provide guidelines and alternative course plans.
    </h2>
</div>
{% endblock %}