{% extends "base.html" %}

{% block content %}
<style type="text/css">
    body {
        text-align: center;
    }
  
    h1 {
        color: green;
    }
  
    /* Basic CSS to design table */
    table {
        border-collapse: collapse;
        width: 100%;
    }
  
    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
  
    /* CSS command for the row to highlight */
    .highlight {
        background-color: #b8b8b8;
    }
  </style>
<h1>Set Current Semester</h1>

        
      

       <form id = "c_form" method="post" action="/semester">
        <p style="font-family:verdana">
            Choose Semester:<SELECT name="lec_id" style="font-family:verdana" id="lec_id">
            {% for j in lec_dd %}
                <OPTION  value={{j[0]}}>{{j[1]}}</OPTION>   
            {% endfor %}
            </SELECT>
            <button class="bi bi-plus" type="submit"  name="semester">Submit</button>
            </p>
            <h1>{{ current_Sem_Dec }}</h1>
            
          <script>
            if (sessionStorage.getItem("selectedOption")) {
  //to set the selected value:
  var select = document.getElementById("lec_id");
  select.selectedIndex = sessionStorage.getItem("selectedOption"); // set index of selected element
}

//this will set the value to sessionStorage only when user clicks submit
document.getElementById("c_form").addEventListener("submit", () => {
  //to get the selected value:
  var select = document.getElementById("lec_id");
  sessionStorage.setItem("selectedOption", select.selectedIndex); // store index of selected element
});
          </script>
       </form>
{% endblock %}