{% extends "base.html" %}

{% block content %}
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    
    th:nth-child(even),td:nth-child(even) {
      background-color: #D6EEEE;
    }
    </style>
<table style="width:100%">
    <thead>
      <tr>
        <th>course_code</th>
        <th>course_name</th>
        <th>course_descr</th>      
        <th>level_id</th>
      </tr>
      </thead>    
      <tbody>
       {% for row in data %}    
              <tr>
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
    {% endblock %}